@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

}
html{
    scroll-behavior: smooth;
}

:root{
    --background: #1D1B26;
    --whiteText: #fff;
    --mainColor: #FDA640;
    --borderColor: #303030;
    --grayColor: #CACACA;
    --cardColor: #2F2D37;
    --subText: #A09E9E;
    --inputBack: #221F2F;

}


.container{
    width: 100%;
    min-height:100vh;
    background-color: var(--background);
    padding: 10px 50px;
}
 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid var(--borderColor);
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: var(--background);
    top: 0;
    left: 0;
  
    
}
nav a{
    text-decoration: none;
}

nav .logo{
    font-size: 24px;
    color: var(--whiteText);
    font: 800;
}
nav .logo span{
    color: var(--mainColor);
}
 nav .links{
    display: flex;
    flex-direction: row;
    gap: 42px;
    list-style: none;
}
nav .linksphone{
    display: none;
}
nav .links a{
    color: var(--whiteText);
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}
nav .links a:hover{
    color: var(--mainColor);
}
nav .toggle{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 120px;
}
.hero-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    min-height: 45vh;
}
.hero-section .hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--whiteText);
}
.hero-content  h1,h2{
    text-transform: uppercase;
}
.hero-content h1{
    font-size: 28px;
}
.hero-content h2{
    font-size: 16px;
    font-weight: 200;
    color: var(--mainColor);
}
.hero-content span{
    color: var(--grayColor);
    font-weight: 100;
    max-width: 450px;
    font-size: 14px;
}
.hero-content .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.hero-content .buttons a{
    padding: 10px;
    border: 1px solid var(--mainColor);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 14px;
    margin-top: 20px;
    border-radius: 12px;
    font-weight: 200;
    transition:0.4s ease-in-out ;
}
.hero-content .buttons a:hover{
    background-color: var(--mainColor);
    color: white;
}
.hero-content .buttons .get-in{
    background: #FDA640;
    border: none;
}
.hero-content .buttons .get-in:hover{
    opacity: 50%;
}
.hero-profile{
    padding-left: 100px;
}

.experiences{
    background: var(--cardColor);
    margin-top: 50px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.experiences .card-ex{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    padding: 10px;
}
.experiences .card-ex span{
    max-width: 100px;
    text-align: center;
    font-weight: 300;

}
.experiences .card-ex{
    border-right: 1px solid var(--mainColor);
}
.experiences .card-ex:last-child{
    border-right: 0px;
}
.choose-me-section{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    width: 100%;
}
.choose-me-section h1{
    color: white;
    font-size: 24px;
}

.choose-me{
 
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    width: 100%;
}
.choose-me .card-choose{
    padding: 50px 20px;
    background: var(--cardColor);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.choose-me .card-choose:nth-child(even){
    background-color: var(--whiteText);
}

.choose-me .card-choose .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--subText);
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-me .card-choose h1{
    font-size: 20px;
    text-align: center;
    color: var(--mainColor);
}
.choose-me .card-choose span{
    text-align: center;
    color: var(--grayColor);
    font-weight: 400;
    font-size: 14px;
    max-width: 240px;
}
.choose-me .card-choose:nth-child(even) span{
    color: black;

}
.testimonials-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 50px 0px;
}
.testimonials-section h1{
    color: white;
    font-size: 20px;
}
.testimonials-section .test-card{

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.testimonials-section .test-card .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.testimonials-section .test-card .profile{
    width: 40px;
    height: 40px;
    background: var(--subText);
    border-radius: 100%;
}

.testimonials-section .test-card .content h2{
    font-size: 14px;
    color: white;
    font-weight: 400;
}
.testimonials-section .test-card  span{
    font-size: 14px;
    color: var(--grayColor);
    font-weight: 300;
}
.testimonials-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.testimonials-section .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: auto;

}
.testimonials-section .buttons .butt{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    
}
.testimonials-section .buttons .butt:hover{
    transform: scale(1.1);
}
.insights{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 0px;
}

.insight-card{
    display: flex;
    flex-direction: column;
    background: var(--cardColor);
    border-radius: 8px;
    gap: 10px;
}
.insight-card h2{
    font-size: 16px;
    color: white;
}
.insight-card span{
    color: var(--subText);
    font-weight: 300;
    font-size: 14px;
}

.insight-card .picture{
    height: 150px;
    
   
}
.insight-card .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.insight-card .operation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    bottom: 0;
}
.insight-card .ope{
    position: relative;
    height: 40px;
}
.insight-card .operation{
    position: absolute;
    z-index: 10;
}
.insight-card .operation .like{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 10px 0px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.insight-card .content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    gap: 10px;
}
.insights-header{
    max-width: 500px;
}
.insights-header h1{
    font-size: 24px;
    color: white;
}
.insights-header span{
    color: var(--subText);
    font-weight: 300;
    overflow: hidden;
}
.insights-main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px;

}
.contact-us h1{
    font-size: 24px;
    color: var(--whiteText);
}
.contact-us .contact-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.contact-us .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-us .contact-info .info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contact-us .contact-info .info span{
    color: var(--subText);
    font-weight: 300;
}
.contact-us .contact-info .info p{
    color: var(--whiteText);
    font-weight:300;
    font-size: 14px;
}
.contact-us .contact-form{
    width: 50%;
}
.contact-us .contact-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-us .contact-form form input{
   color: var(--whiteText);
   background: none;
   border:none ;
   border-bottom: 2px solid #d3d2d245;
   padding: 10px 20px;
   width: 60%;
}
.contact-us .contact-form form input:focus{
    outline: none;
}
.contact-us .contact-form form textarea{
   color: var(--whiteText);
   background: none;
   border:none ;
   border-bottom: 2px solid #d3d2d245;
   padding: 10px 20px;
   width: 60%;
}
.contact-us .contact-form form input::placeholder{
    color: var(--whiteText);
    font-weight: 300;
}
.contact-us .contact-form form textarea::placeholder{
    color: var(--whiteText);
    font-weight: 300;
}
.contact-us .contact-form form textarea:focus{
    outline: none;
}
.contact-us .contact-form form button{
    padding: 14px;
    width: 200px;
    border: none;
    background-color: var(--mainColor);
    color: var(--whiteText);
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--cardColor);
    padding: 40px 50px;
    gap: 40px;
}
footer .footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
footer .footer-container .logo h1{
    font-size: 24px;
    color: white;
}
footer .footer-container .logo h1 span{
    color: var(--mainColor);
}
footer .footer-container .start{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .footer-container .start h3{
    color: var(--whiteText);
    text-transform: uppercase;
}
footer .footer-container .start span{
    color: var(--grayColor);
    font-weight: 300;
    font-size: 14px;
} 
footer .footer-container .start span a{
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 500;
}
footer .footer-container .subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--whiteText);
}
footer .footer-container .subscribe form{
    display: flex;
    flex-direction: row;
}
footer .footer-container .subscribe form input{
    padding: 14px;
    border: 1px solid var(--mainColor);
    background: transparent;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}
footer .footer-container .subscribe form button{
    border: none;
    background-color: var(--mainColor);
    color: white;
    padding: 10px;

}
footer  .copy{
    color: var(--grayColor);
    font-weight: 200;
    font-size: 12px;
}



/* sign in page */

.main-signin{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
}

.main-signin .signin-header{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding: 20px 50px;
    border-radius: 24px;
    background: var(--inputBack);
    width: 35%;
}
.main-signin .signin-header h1{
    font-size: 28px;
    color: var(--mainColor);
}
.main-signin .signin-header span{
    color: var(--grayColor);
    font-weight: 300;
    font-size: 14px;
}
.main-signin form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 25%;
    

}
.main-signin form .contain{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.main-signin form .contain span{
    color: var(--grayColor);
    font-weight: 300;
}

.main-signin form .contain input{
    padding: 14px;
    border-radius: 16px;
    border: none;
    background: var(--inputBack);
    width: 100%;
    color: var(--whiteText);
}

.main-signin form .contain input:focus{
    outline: none;
}
.main-signin form .forgot{
    margin-left: auto;
    font-size: 14px;
    text-decoration: none;
    color: var(--mainColor);
}

.main-signin form button{
    padding: 14px;
    border: none;
    background: var(--mainColor);
    color: white;
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
}
.main-signin form p{
    color: var(--whiteText);
    font-size: 14px;
    font-weight: 300;
}
.main-signin form p a{
    color: var(--mainColor);
    font-weight: 500;
    text-decoration: none;
}


/* opened blog */
.single-container {
    display: flex;
    flex-direction: column; /* Change to column */
    gap: 20px;
    padding: 60px 20px;
    max-width: 100%;
    min-height: 500vh;
}
.single-container .img-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-container .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.single-container  .likes{
    display: flex;
   
    gap: 20px;
}
.single-container .content h1{
    color: white;
    font-size: 24px;
}
.single-container .content span{
    color: var(--subText);
}
.single-container .image{
    width: 100%;
    gap: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
 
}
.single-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.comment-content{
   width: 500px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: var(--inputBack);
    width: 400px;
    position: fixed;
    right: 5vh;
    

} 
.timeBlock{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.comment-content h1{
    font-size: 16px;
    font-weight: 300;
    padding: 0px 10px;
}
.comment-content .input-content{
   bottom: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5px;
}
.comment-content .input-content input{
    
    padding: 10px;
    width: 52%;
}
.comment-content .input-content #name{
    width: 150px;
}
.comment-content .input-content button{
    padding: 10px 4px;
    background: #FDA640;
    border: none;
    color: white;
    width: 90%;
}
.comment-content .person-comment{
    display: flex;
    flex-direction: column;
    background: rgb(25, 25, 43);
    padding: 20px;
    gap: 10px;

}
.comment-content  h1{
    color: white;
}
.comment-content .person-comment .profile-name{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.comment-content .person-comment .profile-name span{ 
    font-size: 12px;
    color: white;

}
.comment-content  .person-comment .person-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}
.comment-content  .person-comment .person-header span{
    color: white;
}
.single-container .comment-content .person-header .timeBlock span{
    color: var(--mainColor);
    font-size: 10px;
}
.comment-content  .person-comment span{
    color: var(--subText);
    font-size: 14px;
}
.comment-content .person-comment .profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
    background: #a0a0a0;
}
.headWord span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
    
   
}
.comment-content .comment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50vh;
    overflow-y: scroll;
    position: relative;
    padding: 0px 10px;
  
   
}
.comment-content .comment::-webkit-scrollbar{
    width: 2px;
    background-color: gray;
}
.comment-content .comment::-webkit-scrollbar-thumb{
    background: var(--mainColor);
}
.popup {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff8a37;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    z-index: 999;
}
.popup.show {
    visibility: visible;
    animation: fadeIn 0.5s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
