:root{
  --background: #1D1B26;
  --whiteText: #fff;
  --mainColor: #FDA640;
  --borderColor: #303030;
  --grayColor: #CACACA;
  --cardColor: #2F2D37;
  --subText: #A09E9E;
  --inputBack: #221F2F;

}
.portfolio{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}
.portfolio h1{
  font-size: 24px;
  color: var(--whiteText);
}
.portfolio .projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.portfolio .projects .project-card{

  height: 200px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.portfolio .projects .project-card .image{
  width: 100%;
  height: 100%;

  border-radius: 8px;
}
.portfolio .projects .project-card .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio .projects .project-card .project-name{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.507);
  color: white;
}
.portfolio .projects .project-card .details{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.838);
  position: absolute;
  
  border-radius: 8px;
  top: 100%;
  transition: 0.5s ease-in-out;
  padding:30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}
.portfolio .projects .project-card .details span{
  color: var(--whiteText);
  font-weight: 300;
  text-align:center;
  font-size: 14px;
}
.portfolio .projects .project-card .details a{
  color: var(--mainColor);
  font-weight: 300;
  text-align:center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--mainColor);
  width: 150px;
  margin: 0px auto;
  transition: 0.4s ease-in-out;
  border-radius: 8px;
}
.portfolio .projects .project-card .details a:hover{
  background: #FDA640;
  color: var(--whiteText);

}
.portfolio .projects .project-card:hover .details{
  top: 0px;
  
}