@media (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }
  main .articles {
    flex: 1;
    width: 100%;
  }
  .queries {
    flex: 1;
    width: 100%;
  }

  .new-aritcle-container {
    padding: 140px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .single-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 0px;
 
}
.single-container .img-content{
  display: flex;
  flex-direction: column;
  width:90%;
 
}
.single-container .comment-content{
  position: relative;
  left: 0;
}




  .message-conatiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .main-setting .setting-form .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .update-modal .modal-form .form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-admin{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  

  main {
    padding: 20px 10px;
  }
  .admin-navbar {
    padding: 10px 10px;
  }
  .admin-navbar .top-nav .left-nav .links {
    display: none;
  }
  .single-container .img-content {
    width: 95%;
  }

  .single-container .comment-content {
    width: 95%;
  }
  .all-aritcles {
    padding: 40px 10px;
  }
  .main-message {
    padding: 30px 10px;
  }
  .new-aritcle-container {
    padding: 140px 10px;
  }
  .new-form{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
  .main-setting .setting-form .form-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-signin form {
    width: 90%;
  }
  .main-signin .signin-header{

    width: 90%;
}
  .main-setting {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main-setting .admin-info {
    display: flex;
    flex-direction: column;
  }
  .update-modal .modal-form {
    width: 90%;
  }
}
.popup {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff8a37;
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 5px;
  z-index: 999;
}
.popup.show {
  visibility: visible;
  animation: fadeIn 0.5s ease forwards;
}
.users .singleUser {
  background: #2B2835;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
 
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
